<!DOCTYPE html>
<html>
<head>
	<title>Sync-Form</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"><!-- Nunito -->	
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/inputs.css">

</head>
<body>
	<div id="base_format">
		<form>
			<div class="input-field col s12 batch">
			    <select>
			      <option value="" disabled selected>Batch</option>
			      <option value="A1">A1</option>
			      <option value="A2">A2</option>
			      <option value="B1">B1</option>
			      <option value="B2">B2</option>
			    </select>
			</div>

			<h3>Clubs</h3>
			<div class="clubs row">

				<div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Art Club</span>
			      </label>
			    </div>

				<div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Dance Club</span>
			      </label>
			    </div>

			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Music Club</span>
			      </label>
			    </div>

			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Drama Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Fundoo Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Fashion Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Nukkad Mandli</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Photography Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Sankalp Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Media cell</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Astronomy Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Cybros</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>E-cell</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>IIC</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Literary Commitee</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>MUN Society</span>
			      </label>
			    </div><div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Quiz Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Phoenix Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Nirog Club</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>ASME</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>CSI</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>IEEE</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>Alumni Association</span>
			      </label>
			    </div>
			    <div class="col s12 m6 l4 element" >
			      <label>
			        <input id="indeterminate-checkbox" type="checkbox" class="btnn" />
			        <span>None</span>
			      </label>
			    </div>
			</div>
			<!-- <div class="flex-container">
				<div class="container">
				  <div class="row">
				    <form method="get">
				      <div class="form-group">

				      	<div class="heading"><h4>Science and tech</h4>

				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item4" value="val2" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item4" value="val3" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val6" class="hidden" autocomplete="off"></label></div>
				        </div>

				        <div class="heading"><h4>Student Chapters at The LNMIIT</h4>		

				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk5" id="item5" value="val5" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk6" id="item6" value="vas4" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        </div>
				        
				        <div class="heading"><h4>Health Club</h4>

				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        </div>

				        <div class="heading"><h4>Cultural</h4>

				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				        <div class="col-md-3"><label class="btn btn-primary"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item4" value="val4" class="hidden" autocomplete="off"></label></div>
				    </div> 
				      </div>				      
				    </form>
				  </div>
				</div>
			</div>-->
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			</button>		
		</form>
	</div>
	
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="/javascript/inputs.js"></script>
</body>
</html>