<!DOCTYPE html>
<html>
<head>
	<title>Planner-Login</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
	<div id="login">
		<img src="/stylesheets/dummy.PNG" class="in-progress">
		<h1>Login</h1>
		
		<form>

			 <input type="email" placeholder="  Email" name="email" class="in-progress"></label>
			<br>
			<input type="password" placeholder="  Password" name="password" class="in-progress"></label>
			<button type="submit" id="login_button" class="in-progress"> Login </button>
			<br> 
			<a href="#" class="in-progress">Forgot Password?</a>	
		</form>

		<hr>
		<a href="/auth/google"><button type="submit" class="in-progress" >
			Google
			
		</button></a>
	</div>
	

	<script type="text/javascript" src="login.js"></script>
</body>
</html>