<h1>Register form</h1>

<form action="/register" method="POST">
	<input type="text" name="name" placeholder="Type Your Name Here" required>
	<input type="password" name="password" placeholder="Your Password" required>
	<button>Submit</button>
</form>