body
{
	background-color: rgb(255, 238, 236);
}
#login
{
	margin:auto;
	margin-top: 3%;
	width:400px;
	height:500px;
	padding: 3%;
	/*border:2px solid red;*/
	/*background-color: rgba(248,185,176,0.5);  */
	background-color: #fff;
	border-radius: 25px;
	position:center;
	color: red;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#login img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
	border:2px solid red;
	border-radius: 50%;
	/*position: fixed;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input,button
{
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	border:2px solid red;
	position: relative;
	height:25px;
	width: 100%;
	margin-bottom: 10px;
	color:red;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);/*IDKTFAI*/
	
}

button
{
	height: 30px;
	width: 50%;
	margin-left: 25%;
	/*margin: auto;*/
	background-color: #f00;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*IDKTFAI*/
}
form
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	width:50%;
	height:140px;
	position: relative;
}

h1
{
	text-align: center;
	margin:auto;
	margin-bottom: 0px;
	margin-top: 30px;
	color:red;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);

}

a
{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
	color:red;
	text-decoration: none;
}

#login_button{
	margin-bottom: 20px;
}

hr
{
	width: 70%;	
}

button:focus
{
	outline:none;
}
.in-progress {
  cursor: pointer;
}
